@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}
.active p {
    background-color:#5f6FFF;
    color: white;
    border-radius: 4px;
    padding: 4px 18px;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}
.slotsContainer::-webkit-scrollbar {
    display: none;
}
.slotTimeContainer::-webkit-scrollbar {
    display: none;
}
.custom-toast {
    background-color: #77fc776b;
    color:blue;
    font-family: Outfit;
    height: 4px !important;
}
